.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: tomato;
    padding: 10px;
}

/* '>' selects all children of the '.grid-container' class */
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1, .item8 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.item2, .item9 {
    grid-column-start: 3;
    grid-column-end: 6;
}